<form action="/users/search">
  <h2>Search By</h2>
  <label
    >Email:
    <input type="search" name="email" />
  </label>
  <label
    >Name:
    <input type="search" name="name" />
  </label>
  <button>Search</button>
</form>
